<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="img/logo.svg">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E1811WRJJD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E1811WRJJD');
    </script>
</head>

<body id="index">
    <!-- section counter -->
    <div id="sectionCounterdiv">
        <p id="sectionCounter"></p>
    </div>

    <!-- section top  -->
    <section class="top">
        <a href=" https://humanatlas.io" class="topLogo">
            <img class="logo" src="img/logo.svg"> Human Atlas Stories
        </a>
        <div class="dropdown">
            <button class="dropbtn"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#c2cae5"
                    class="bi bi-list" viewBox="-1 -4 20 20">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
                <i class="fa fa-caret-down"></i>
            </button>
            <!-- <div class="dropdown-content">
                <a href="story0.html">0. Scrollytelling Elements and Effects!</a>
                <a href="story1.html">1. What Is An HRA?</a>
                <a href="story2.html">2. Get to Know Your Anatomical Structures!</a>
                <a href="story3.html">3. Learn about the Number of Cells in the Human Body</a>
            </div> -->
            <div class="dropdown-content">
                <!-- <a href=" https://hubmapconsortium.github.io/hra-previews/pilots/pilot4.html">Scrollytelling Series</a> -->
                <a href="story1.html">1. What Is An HRA?</a>
                <a href="story2.html">2. Squiggy's Identity Crisis!</a>
                <a href="story3.html">3. Something's NOT Registering!</a>
            </div>
        </div>
    </section>

    <section class="storyList">
        <h1 class="indexTitle">Our stories so far...</h1>
        <div class="storyBox">
            <div class="rb-container">
                <ul class="rb">

                   <!--  <li class="rb-item" ng-repeat="itembx">
                        <div class="minititle">
                            Story 0
                        </div>
                        <a href="story0.html">
                            <div class="item-title">Scrollytelling Elements and Effects </div>
                        </a>
                    </li> -->

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="minititle">
                            Story 1
                        </div>
                        <a href="story1.html">
                            <div class="item-title">What Is An HRA?
                            </div>
                        </a>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="minititle">
                            Story 2
                        </div>
                        <a href="story2.html">
                            <div class="item-title">Squiggy's Identity Crisis!</div>
                        </a>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="minititle">
                            Story 3
                        </div>
                        <div class="item-title"> <a href="story3.html">Something's NOT Registering!</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        &commat; 2023 Human Atlas Design System at Indiana University
    </footer>
</body>
<script src="scripts.js"></script>

</html>