@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans:wght@400;700&family=Playfair+Display:wght@500&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
    color: #0E1825;
}

body {
    margin: 0;
    font-family: "Inter", serif;
    width: 100%;
    height: 100%;
    padding: 0;
}

.underconstruction {
    height: 80vh;
    background-color: #FAFAFA;
    text-align: center;
}

.constructionmid {
    padding: 10px;
    padding-top: 30vh;
    font-size: 1.5rem;
}

/* Top style */

/*header style*/
#vid {
    position: absolute;
    top: 70%;
    left: 45%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: 50vh;
    min-height: 250px;
    z-index: -1000;
    opacity: 0.5;
    overflow: hidden;
}

header {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Playfair", serif;
    height: 100vh;
    overflow-x: hidden;
}

header .headerOne {
    text-align: left !important;
}

header .headerTwo {
    text-align: right !important;
}

header .headerLarge {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: -10px;
    font-weight: 700;
    text-align: center;
}

header h1 {
    opacity: 0.7;
    font-size: 2rem;
}

header h2 {
    text-align: center;
    margin-top: 60px;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(87, 87, 87)
}

.top {
    background-color: #444c65;
    padding: 15px;
    color: white;
    font-family: 'Impact', sans-serif;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 60;
}

.topLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    font-family: "Inter", serif !important;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    color: #990000;
    background-color: #E2E7E9;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 326px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 15;
    right: 15px;
    margin-top: -3px;
    border-radius: 6px;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #F7F7F7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* General styles */
.first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc231e;
}

/*Movie stuff */
#section-movie {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 57vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
}

#section-movie>#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto !important;
    padding: 0;
    margin: 0;
}

#section-movie>span {
    color: white;
    z-index: 800;
    text-shadow: 5px 5px 2px black;
    font-size: 40px;
}

.warning {
    margin: 2em;
    padding: 1em;
    border: 1px solid #ccc;
}

.warning p {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
    @property --opacity {
        syntax: "<number>";
        initial-value: 0.5;
        inherits: false;
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes opacityChange {
        to {
            --opacity: 1;
        }
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    .rainbow {
        animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    }

    /* Hide the warning */
    .warning {
        display: none;
    }
}

.containertop {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

/*Line section*/


/*extra effects*/
.parallax {
    /* The image used */
    background-image: url("img/bg.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* Pulse effect */
@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-white {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

a {
    color: #0E1825;
    text-decoration: none;
    /* no underline */
}

/* Header/Intro section style */
.introSection {
    position: relative;
    z-index: 9;
}

#one .introSection {
    position: relative;
    z-index: 9;
}

#one .section2 {
    background-color: #FAFAFA;
}

h1 {
    text-align: center;
}

/* Story zero */
#zero .intro {
    background: #FFF3F0;
}

#zero .TitleDivide {
    background: linear-gradient(270deg, rgb(248, 248, 248) 0%, #C1CAE5 100%);
    padding: 10px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin-top: -5px;
    margin-bottom: 0;
}

#zero #glbtest {
    height: 70vh;
    padding: 10px;
    margin: auto;
    background-color: #ffffff;
}

#zero #TiffExample {
    text-align: center;
}

#zero #section2 {
    background-color: #ffffff;
    text-align: center;
}

#zero #section3 {
    text-align: center;
    background-color: #ffffff;
}

#zero #section5 {
    text-align: center;
    background-color: #ffffff;
}

/* styles for magnifier*/
.magnifier {
    text-align: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

/* style for the DIV that is the magnifier lens */
.maglens {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

/* style for the small IMG that appears on the page */
.magsmall {
    position: absolute;
    border-style: none
}

/* style for the magnified image, using a clip rectangle */
.maglarge {
    position: absolute;
    border-style: none
}

.togetheridv {
    margin: 20px;
}

#zero #section4 {
    text-align: center;
    background-color: #ffffff;
}

#fadetests {
    text-align: center;
}

#fadetests img {
    max-width: 500px;
}

#categories {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    opacity: 0;
    position: fixed;
    z-index: 50;
    background-color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    cursor: pointer;
    width: 100%;
}

#categories span {
    padding: 4px;
    border-radius: 4px;
    background-color: #C1CAE5;
    margin: 3px;
    margin-right: 25px;
}

#categories span:hover {
    background-color: #f5a4ad;
}

/* Reusable styles  */

.img-three {
    display: flex;

}

.img-above-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.storyimg {
    width: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.storyimagetext img {
    float: right;
    width: 45%;
    margin: 0 10px;
}

@media only screen and (max-width: 500px) {
    .storyimagetext img {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .img-three {
        display: flex;
        flex-direction: column;
    }

    .img-above-text {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
}


.section1-text {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 650px;
}

.threediv {
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    position: relative;
    align-items: flex-end;
    max-width: 600px;
    justify-content: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
}

@media all and (max-width: 450px) {
    .threediv {
        padding-left: 50px;
    }
}

.threediv2 {
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
}

.scrollsection {
    overflow-y: scroll;
    margin-top: 2em;
    margin-bottom: 2em;
}

.scrollsection::-webkit-scrollbar {
    width: 1em;
    height: 10px;
}

.scrollsection::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.scrollsection::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #454C65;
}

.scrollsection::-webkit-scrollbar:vertical {
    display: none;
}

.togetherdiv {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 650px) {
    .togetherdiv {
        flex-direction: column;
    }

    #one .togetherimg {
        margin: 0 !important;
        width: 100% !important;
    }

    .notop {
        margin-top: 0 !important;
    }
}

.threediv img {
    max-width: 100%;
    flex-grow: 1;
    margin: 15px;
    bottom: 0
}


/* Story one */

#one .section1 {
    padding-bottom: 30px;
    padding-top: 30px;
}

#one .togetherimg {
    border-radius: 10px;
    width: 50%;
    height: 100%;
    margin-top: 18px;
    margin-left: 15px;
}

#one .section2 {
    padding-bottom: 30px;
    padding-top: 30px;
}

#one .cell1 {
    opacity: 1;
}

#one .cell2 {
    opacity: 1;
}

#one .cell3 {
    opacity: 1;
}


/* Story two */
.expandtext{
    transform:scale(1.5);
    -webkit-transform:scale(1.5);
    
}

#two .section1 {
    background: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

#two .section13 {
    background: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

#two .section2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .section2 {
    margin: 0;
    padding: 0;
    background-color: white;
}

#two .talkbubble {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: hidden;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

#two .talkbubble2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: hidden;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

#two .talkbubble3 {
    opacity: 1;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

#two .section3 {
    background-image: none;
    background: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 942px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#two .videozoom {
   
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}

#two .videozoom img {
    width: 80%;
    margin: auto;
}

.videozoom p {
    text-align: center;
    color: white;
    opacity: .7;
}

.videozoom a {
    color: white;
    opacity: .7;
    text-decoration: underline;
}

.videozoom h1 {
    margin-top: 40px;
    color: white;
}

@media all and (max-width:750px) {
    #two .videozoom img {
        width: 90%;
        margin: auto;
    }
}

.cecevidtalk {
    top: -100%;
    position: relative;
    float: right;
    right: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cecevidtalk img {
    width: 30%;
}

#two .section3 iframe {
    margin: auto;
    display: flex;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    max-width: 942px;
}

#two .overlaybubble {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8rem;
    visibility: hidden;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

#two .container {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8rem;
    visibility: hidden;
    font-family: 'Cutive', serif;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

#two .container2 {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8rem;
    visibility: hidden;
    font-family: 'Cutive', serif;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}


.introlineimg {
    position: absolute;
    width: 10%;
    top: 32%;
    animation: pulse-white 3.5s infinite;
}

.introcharcece {
    left: 10%;
    top: 25%;
        width: 15%;
}

.introcharsquiggy {
    right: 10%;
    top: 31%;
    width: 15%;
}


@media all and (max-width:750px) {
    .introcharcece {
        left: 20%;
        width: 22%;
        top: 70%;
    }

    .introcharsquiggy {
        top: 74%;
        width: 22%;
        right: 20%;
    }
}

@keyframes pulse-white {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

#two .container h1 {
    line-height: 60px;
}

#two .container p {
    color: white;
}


#two .container2 h1 {
    line-height: 60px;
}

#two .container2 p {
    color: white;
}

#two .spacer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8rem;
    visibility: hidden;
}

#two .fadeimage {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 100vh;
    width: auto;
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: center;
}


#two .fadeimage2 {
    position: relative;
    height: 100vh;
    justify-content: center;
    display: flex;
    top: -10%;
}

#two .imagepart {
    position: absolute;
    height: 100vh;
}

#two .scene1 {
    background-image: url("img/2scene1.svg");
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}

#two .scene1-1 {
    background-image: url("img/2scene2.svg");
    background-color: black;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}

#two .scene1-2 {
    background-image: url("img/2scene1.svg");
    background-color: black;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}

#two .scene2 {
    background-image: url("img/2scene2-2.svg");
    background-color: black;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}

#two .scene3 {
    background-image: none;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}

#two .scene4 {
    background-image: url("img/ASCT-2.svg");
    background-color: white;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#two .scene5 {
    background-image: url("img/ASCT-3.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene6 {
    background-color: black;
    height: 1px;
}

#two .scene7 {
    background-image: url("img/2scene5.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene8 {
    background-image: url("img/2scene6.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene9 {
    background-image: url("img/2scene7.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene10 {
    background-image: url("img/2scene8.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene11 {
    background-image: url("img/2scene9.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene12 {
    background-image: url("img/2scene10.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .scene13 {
    background-image: url("img/2scene11.svg");
    background-color: white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#two .externalLinks {
    background-color: #f1f1f1;
    padding: 15px;
    font-family: 'PT Sans', sans-serif;
    max-width: 942px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#two .externalLinks a {
    color: #596ba1;
    cursor: pointer;
    text-decoration: underline;
}

#two .scrollbubble{
    opacity: 0;
}

#two .acknowledgements {
    background-color: #f1f1f1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    max-width: 942px;
    margin: auto;
}

.opacitytxt {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;
    margin-bottom: 100px;
}

.defaulttalk {
    padding: 12px;
    color: black !important;
    max-width: 400px;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 4px;
    border-radius: 22px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    top: -20%;
}

.squiggytalk {
    padding: 12px;
    color: black !important;
    max-width: 400px;
    width: 80%;
    background-color: rgb(153, 202, 244);
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
    border-radius: 22px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    right: 0;
    top: -20%;
}

.squiggytalk:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 18px;
    margin-top: -1px;
    border-style: solid;
    border-color: rgb(153, 202, 244) transparent transparent transparent;
}

.cecetalk {
    padding: 12px;
    color: black !important;
    max-width: 400px;
    width: 80%;
    background-color: rgb(243, 167, 167);
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
    border-radius: 22px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 20px;
    top: -30%;
}

.cecetalk:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    margin-top: -1px;
    border-width: 18px;
    border-style: solid;
    border-color: rgb(243, 167, 167) transparent transparent transparent;
}

.cecetalk2 {
    padding: 12px;
    color: black !important;
    max-width: 400px;
    width: 80%;
    background-color: rgb(243, 167, 167);
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
    border-radius: 22px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 20px;
    top: -30%;
}

.cecetalk2:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    transform: rotate(-90deg);
    border-color: rgb(243, 167, 167) transparent transparent transparent;
}


.spritecontainer {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 100vh;
}

.frames {
    will-change: transform;
    margin: auto;
    display: flex;
}

.overtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px white;
}

.fadeinimg {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 200;
    opacity: 0;
}

.linesection{
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

#two .wrap-all {
    position: relative;
}

.talkdivider {
    height: 10px;
}

#two .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("img/2scene1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#two .panel {
    width: 100%;
    height: 100vh;
}


#two .wrap {
    position: relative;
    top: 50%;
    overflow: hidden;
    font-size: 1.2rem;
}

#two .quizp{
    width: 80%;
    justify-content: center;
    margin: auto;
}

#two .quizp details{
    padding: 10px;
    background-color: #f1f1f1;
}

#two .choiceresult{
    background-color: #596ba1;
    border: none;
    margin-top: 3px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

#two .radiochoice{
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f1f1f1;
}

#two #result{
    margin-top: 10px;
    padding: 10px;
    border: 3px dashed #f1f1f1;
    visibility: hidden;
    
}


/* Story three */
#three .section1 {
    background-color: #FAFAFA;
}

.threelung1 {
    margin-right: 20px;
    max-height: 180px;
    width: 40% !important;
}

.divcol2 {
    flex-grow: 2 !important;
}

#three .section2 {
    background-color: #FAFAFA;
}

.section2-text {
    padding: 30px;
    max-width: 650px;
    margin: auto;
    justify-content: center;
}

#three .section3 {
    padding: 30px;
    max-width: 650px;
    margin: auto;
    justify-content: center;
}

#three .section4 {
    padding: 30px;
    max-width: 650px;
    margin: auto;
    justify-content: center;
}

#three .section5 {
    display: flex;
    padding: 30px;
    max-width: 650px;
    margin: auto;
    justify-content: center;
}

.intestineimg {
    max-width: 300px;
    float: left;
}

.threeimg {
    width: 100%;
}

#three .section3 img {
    width: 100%;
}

.renal {
    position: relative;
    height: 200px;
    margin: auto;
    display: flex;
    margin: auto;
    overflow-x: scroll;
    justify-content: center;
}

@media all and (max-width: 523px) {
    #three .r1 {
        height: 140px !important;
    }

    #three .r2 {
        height: 140px !important;
    }

    #three .r3 {
        height: 140px !important;
    }
}

@media all and (min-width: 523px) {
    #three .r1 {
        height: 200px !important;
    }

    #three .r2 {
        height: 200px !important;
    }

    #three .r3 {
        height: 200px !important;
    }
}

#three .r1 {
    opacity: 0;

}

#three .r2 {
    opacity: 0;
}

#three .r3 {
    opacity: 0;
}

.lung2 {
    width: 100%;
}

.kidneybody {
    position: relative;
    max-width: 360px;
    height: 500px !important;
    width: auto;
    margin: auto;
    display: flex;
    height: 500px;
    margin: auto;
    justify-content: center;
}

.bodypart:not(.outsole) {
    position: absolute;
    bottom: 0vw;
    height: 500px !important;
    width: auto;
}

.three1 {
    width: 100%;
    opacity: .5;
}

.three2 {
    width: 100%;
    opacity: 100;
}

.three3 {
    width: 100%;
    opacity: 100;
}

.three4 {
    width: 100%;
    opacity: 100;
}

#organs .organparts {
    opacity: 1;
    flex: 0 0 40%;
}

.scrollArrow {
    align-self: center;
    font-size: 1.7rem;
    -webkit-animation: action 1.2s infinite alternate;
    animation: action 1.2s infinite alternate;
    color: #0E1825;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    text-align: center;
    z-index: 20;
}

/*Table styles*/
.tableExample {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
    max-height: 600px;
    overflow-y: scroll;
    flex: 0 0 60%;
}

/* Center tables for demo */
table {
    margin: auto;
    width: 90%;
    max-width: 860px;
}

/* Default Table Style */
table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}

tr:hover:not(:first-child) td {
    /* background-color: rgba(255, 238, 184, 0.441); */
    cursor: pointer;
}

table th,
table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, .1);
}

table caption {
    padding: .5em;
}

table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}

/*End Table styles*/

/* img crossfade */
#zero .img-wrapper {
    display: grid;
    height: 200px;
    width: 100%;
}

#zero .img-wrapper div {
    grid-column: 1;
    grid-row: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--gray);
    transition: opacity 0.1s;
}

/*Section counters*/
#sectionCounterdiv {
    position: fixed;
    color: white;
    right: 4px;
    top: 4px;
    background-color: rgba(255, 255, 255, 0.501);
    width: 40px;
    height: 40px;
    border-radius: 80px;
    text-align: center;
    z-index: 200;
    background-color: transparent;
}

#sectionCounter {
    margin-top: 11px;
    display: none;
}

/* Containers*/
.scroll-container {
    min-height: 100vh;
    padding: 1rem 1rem;
    max-width: 942px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
}

.logo {
    width: 26px;
    margin-right: 6px;
    color: white !important;
}

#embed::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

#embed {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    overflow: hidden !important;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

.audiobutton {
    background-color: black;
    padding: 8px;
    border-radius: 4px;
    border: 0;
    color: white;
    cursor: pointer !important;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
}

.scroll-element {
    width: 40%;
}

.scroll-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-element img {
    max-width: 90%;
}

.scroll-element video {
    max-width: 90%;
}

.textArrow {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.scroll-element {
    height: 100%;
    background-color: #ffffff;
    border-radius: 600px;
    background-repeat: no-repeat;
    height: max-content;
}

@media screen and (max-width: 650px) {

    .textArrow {
        width: 100%;
    }

    .scroll-container,
    .scroll-container:nth-of-type(even) {
        flex-direction: column;
        align-content: inherit;
    }

    .scroll-element {
        height: 100%;
    }

    .scroll-element,
    .scroll-caption {
        width: 100%;
    }
}

/**Styling scrollable elements*/

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

/* Animations */
/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

canvas {
    display: block;
}

.progress-bar {
    display: none;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#particles-js2 {
    position: absolute;
    width: 100%;
    height: 100vh;
}

/* ---- botNav---- */
.botNav {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    max-width: 942px;
    margin: auto;
}

.next:hover,
.previous:hover {
    color: #454C65;
}

.next,
.previous {
    max-width: 45%;
}

.nextTitle,
.prevTitle {
    opacity: 0.5;
}

/* ---- footer---- */
footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #c2cae5;
    color: #444a65;
    padding: 40px;
}

footer p {
    font-size: 0.45rem;
    margin: 0.25rem 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}


/* intro story list*/
.storyList {
    font-family: "PT Sans", sans-serif;
    background-color: white;
    justify-content: center;
    padding: 40px;
    display: flex;
    height: 100vh;
    padding-top: 100px;
    /* background-image: url("img/bgindex.png");
    background-size: cover;
    animation: animatedBackground 20s linear infinite alternate; */
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.storyBox {
    margin: 30px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 350px;
    width: 90%;
    height: fit-content;
    background-color: #f7f7f7;
}

.indexTitle {
    position: absolute;
    color: black;
    width: fit-content;
    padding: 16px;
    border-radius: 9px;
    margin-left: -25%;
    margin-top: -22px;
    z-index: 2;
}

.rb-container {
    margin: auto;
    display: block;
    position: relative;
}

.rb-container ul.rb {
    margin: 2.7em 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.rb-container ul.rb li {
    list-style: none;
    margin-left: 40px;
    min-height: 50px;
    border-left: 1px dashed #0E1825;
    padding: 0 0 50px 30px;
    position: relative;
}

.item-title {
    background-color: #e1e2e3;
    border-radius: 6px;
    padding: 10px;
    width: 90%;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: px;
    content: " ";
    border: 8px solid white;
    border-radius: 500%;
    background: #C1CAE5;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #ffffff6d;
    transition: all 200ms ease-in-out;
}

ul.rb li .minititle {
    background-color: #C1CAE5;
    padding: 4px;
    border-radius: 4px;
    color: black;
    position: relative;
    width: fit-content;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: bold;
}

.item-title {
    color: #0E1825;
}

/* 3D brain model */
.brainmodel {
    height: 100%;
    width: 100%;
    position: relative;
    top: calc(40% - 250px);
    margin: auto;
    z-index: 10;
    max-width: 600px;
}

/* horizontal slide */
.comparisonSection {
    position: relative;
    padding-bottom: 56.25%;
    /* to maintain aspect ratio (responsive!) */
}

.comparisonImage {
    width: 100%;
    height: 100%;
}

.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* drop in  */
.body {
    position: relative;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    display: flex;
    padding-top: 250px;
}

.piece:not(.outsole) {
    position: absolute;
    bottom: 7vw;
}

.midsole {
    width: 50%;
    top: 30%;
    left: 40%;
}

.midsole2 {
    width: 50%;
    left: 10%;
    top: 2%;
}

.txt3 {
    left: 10%;
    top: 0%;
}

.txt4 {
    left: 75%;
    top: 25%;
}

.txt2 {
    left: 2%;
    top: 55%;
}

.fullbody {
    width: 80%;
}

.outsole {
    width: 50%;
    left: 5%;
    top: 10%;
}

/* drop in 2 */
.personskull {
    position: relative;
    max-width: 360px;
    margin: auto;
    display: flex;
    background: black;
    height: 500px;
}

.fullface {
    width: 100%;
}

.brain1 {
    width: 100%;
}

.brain2 {
    width: 100%;
}

.skull {
    width: 100%;
}

.skulltxt1 {
    left: 34%;
    top: 170px;
    color: white;
    width: 100px;
    text-align: center;
}

/* drop in 3*/
.moveimg {
    position: relative;
    max-width: 600px;
    margin: auto;
    display: flex;
    padding-top: 550px;
    background: black;
}

.graphbg {
    width: 100%;
}

.char12 {
    width: 10%;
    left: 75%;
    top: 45%;
}

.char1 {
    width: 10%;
    left: 55%;
    top: 33%;
    opacity: 0;
}

/* drag drop   */
.dropbox {
    cursor: pointer;
    margin-bottom: 100px;
    width: 83px;
    height: 46px;
}

#equation {
    cursor: pointer;
    width: 40px;
    height: 40px;
}


/*organ page*/
.organflex {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

@media all and (max-width: 650px) {
    .organflex {
        display: flex;
        flex-direction: column;
    }
}

.organParts {
    position: relative;
    max-width: 360px;
    width: auto;
    margin: auto;
    display: flex;
    height: 650px !important;
    ;
    margin: auto;
    justify-content: center;
}

#sortsvg:hover {
    cursor: pointer;
}

.organ {
    position: absolute;
    bottom: 0vw;
    height: 650px !important;
    width: auto;
    opacity: .5;
}

#log {
    background-color: #000000a0;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 9px;
    border-radius: 9px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
}