@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  /*UI styles*/
  --HRA-blue: #201e3d;
  --HRA-blue5: #eff2f5;
  --HRA-white: #ffffff;
  --HRA-red2: #e00d3a;
  --HRA-red3: #b20a2f;
  --HRA-gray2: #4c4c58;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  color: #0e1825;
}

body {
  margin: 0;
  font-family: 'Inter', serif;
  width: 100%;
  height: 100%;
  padding: 0;
}

.indexTitle {
  font-size: 28px;
  line-height: 42px;
}

a {
  color: #0e1825;
  text-decoration: none;
  /* no underline */
}

h1 {
  text-align: center;
}

.intro {
  margin-top: 70px;
}

#two .scene3-1 {
  background-image: url('stories/story3/images/squiggy-greets-cece.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-2 {
  background-image: url('stories/story3/images/cece-discovers-kidney-tissue.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-3 {
  background-image: url('stories/story3/images/squiggy-suggests-kidney-placement.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-4 {
  background-image: url('stories/story3/images/kidney-variation-background.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-5 {
  background-image: url('stories/story3/images/squiggy-reconsiders-guessing.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-5-1 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#Rectangle1 {
  opacity: 0;
}

#Rectangle2 {
  opacity: 0;
}

#Rectangle3 {
  opacity: 0;
}

#Rectangle4 {
  opacity: 0;
}

#Rectangle5 {
  opacity: 0;
}

#Rectangle6 {
  opacity: 0;
}

#Rectangle7 {
  opacity: 0;
}

#two .scene3-6 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene3-7 {
  background-image: url('stories/story3/images/rui-registration-scene.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-8 {
  background-image: url('stories/story3/images/registered-tissue-data-scene.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-9 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-10 {
  background-color: white;
  height: auto;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

.imageintrosec {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.imageintro1 {
  width: 100%;
  height: 100vh;
}

.imageintro2 {
  width: 100%;
  height: 100vh;

  opacity: 100;
}

.imageintro3 {
  width: 100%;
  height: 100vh;

  opacity: 100;
}

/* Story three */
#kidneyorgan {
  opacity: 1;
}

#kidneypart1 {
  opacity: 0;
}

#kidneypart2 {
  opacity: 0;
}

#kidneypart3 {
  opacity: 0;
}

#kidneypart4 {
  opacity: 0;
}

#changehere {
  overflow: hidden;
}

/* ---- botNav---- */
.botNav {
  background-color: var(--HRA-blue5);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: 'Metropolis', Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 16px;
}

.next,
.previous,
.linkbutton {
  color: var(--HRA-red3);
  font-size: 14px;
  cursor: pointer;
  padding: 9px 16px 9px 16px;
}

.ExternalLinkCard .linkbutton {
  float: left !important;
}

.next:hover,
.previous:hover,
.linkbutton:hover {
  background-color: rgba(178, 10, 47, 0.08);
}

.next:active,
.previous:active,
.linkbutton:active {
  background-color: rgba(178, 10, 47, 0.16);
}

.next:focus,
.previous:focus .linkbutton:focus {
  border-color: var(--HRA-red2);
}

/* ---- external links section cards---- */
.Externallinkssection {
  text-align: center;
  background-color: var(--HRA-white);
  padding: 80px 16px;
  align-items: center;
  margin: auto;
}

.ExternalLinkCard {
  padding: 0px;
  gap: 40px;
  width: 292px;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ExternalLinkImg {
  width: 100%;
  height: 224px;
  border-radius: 12px;
  box-shadow: 0px 5px 16px 0px rgba(32, 30, 61, 0.24);
  object-fit: cover;
  margin-bottom: 40px;
}

.ExternalLinkTitle {
  font-family: 'Metropolis';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.ExternalLinkDesc {
  font-family: 'Metropolis';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
  color: var(--HRA-gray2);
}

.ExternalLinkCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  gap: 64px;
  justify-content: center;
}
