@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  /*UI styles*/
  --HRA-blue: #201e3d;
  --HRA-blue5: #eff2f5;
  --HRA-white: #ffffff;
  --HRA-red2: #e00d3a;
  --HRA-red3: #b20a2f;
  --HRA-gray2: #4c4c58;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  color: #0e1825;
}

body {
  margin: 0;
  font-family: 'Inter', serif;
  width: 100%;
  height: 100%;
  padding: 0;
}

.indexTitle {
  font-size: 28px;
  line-height: 42px;
}

a {
  color: #0e1825;
  text-decoration: none;
  /* no underline */
}

h1 {
  text-align: center;
}

.intro {
  margin-top: 70px;
}

/* Story two */

#two .videozoom {
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .videozoom img {
  width: 80%;
  margin: auto;
}

.videozoom p {
  text-align: center;
  color: white;
  opacity: 0.7;
}

.videozoom a {
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}

.videozoom h1 {
  margin-top: 40px;
  color: white;
}

@media all and (max-width: 750px) {
  #two .videozoom img {
    width: 90%;
    margin: auto;
  }
}

#two .fadeimage2 {
  position: relative;
  height: 100vh;
  justify-content: center;
  display: flex;
  top: -10%;
}

#two .scene1 {
  background-image: url('stories/story2/images/squiggy-and-cece-at-home.svg');
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene1-1 {
  background-image: url('stories/story2/images/squiggy-and-cece-close-up.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene1-2 {
  background-image: url('stories/story2/images/squiggy-and-cece-at-home.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene2 {
  background-image: url('stories/story2/images/cece-reassures-squiggy.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3 {
  background-image: none;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}

#two .scene6 {
  background-color: black;
  height: 1px;
}

#two .scene7 {
  background-image: url('stories/story2/images/biomarker-discussion.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scene8 {
  background-image: url('stories/story2/images/squiggy-discovers-tag.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scene9 {
  background-image: url('stories/story2/images/squiggy-biomarker-tag.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scene10 {
  background-image: url('stories/story2/images/biomarker-tag-close-up.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scene11 {
  background-image: url('stories/story2/images/squiggy-asks-about-biomarkers.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scene12 {
  background-image: url('stories/story2/images/squiggy-refuses-reporter-ride.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scene13 {
  background-image: url('stories/story2/images/squiggy-and-cece-address-readers.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#two .scrollbubble {
  opacity: 0;
}

.linesection {
  margin: 10px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.sectionquiz {
  background-color: var(--HRA-blue5);
  padding: 32px;
  line-height: 24px;
  font-size: 16px;
  margin-top: 10vh;
  position: relative;
}

#two .quizheader {
  font-size: 28px;
}

#two .quizp {
  width: 80%;
  justify-content: center;
  margin: auto;
}

#two .quizp details {
  padding: 10px;
}

#two .choiceresult {
  background-color: var(--HRA-red2);
  border: none;
  margin-top: 3px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

#two .radiochoice {
  margin: 0;
  padding: 12px;
  background-color: #f1f1f1;
  font-size: 16px;
}

#two .radiochoice input {
  margin-right: 12px;
  accent-color: var(--HRA-red2);
}

#two #result {
  margin-top: 10px;
  padding: 8px 10px;
  visibility: hidden;
}

#two .scene3-1 {
  background-image: url('stories/story3/images/squiggy-greets-cece.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-2 {
  background-image: url('stories/story3/images/cece-discovers-kidney-tissue.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-3 {
  background-image: url('stories/story3/images/squiggy-suggests-kidney-placement.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-4 {
  background-image: url('stories/story3/images/kidney-variation-background.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-5 {
  background-image: url('stories/story3/images/squiggy-reconsiders-guessing.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-5-1 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#Rectangle1 {
  opacity: 0;
}

#Rectangle2 {
  opacity: 0;
}

#Rectangle3 {
  opacity: 0;
}

#Rectangle4 {
  opacity: 0;
}

#Rectangle5 {
  opacity: 0;
}

#Rectangle6 {
  opacity: 0;
}

#Rectangle7 {
  opacity: 0;
}

#two .scene3-6 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene3-7 {
  background-image: url('stories/story3/images/rui-registration-scene.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-8 {
  background-image: url('stories/story3/images/registered-tissue-data-scene.svg');
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-9 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene3-10 {
  background-color: white;
  height: auto;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

.imageintrosec {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.imageintro1 {
  width: 100%;
  height: 100vh;
}

.imageintro2 {
  width: 100%;
  height: 100vh;

  opacity: 100;
}

.imageintro3 {
  width: 100%;
  height: 100vh;

  opacity: 100;
}

/* Story three */
#kidneyorgan {
  opacity: 1;
}

#kidneypart1 {
  opacity: 0;
}

#kidneypart2 {
  opacity: 0;
}

#kidneypart3 {
  opacity: 0;
}

#kidneypart4 {
  opacity: 0;
}

#changehere {
  overflow: hidden;
}

/*story 5*/

.story5section2 {
  background-color: black !important;
  background: black;
}

#main-content.story-main--intrinsic-height > .section2 {
  height: auto;
}

#two .scene5-1 {
  background-image: url('stories/story5/images/5-1.svg');
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene5-2 {
  background-image: url('stories/story5/images/5-2.svg');
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene5-3 {
  background-image: url('stories/story5/images/5-3.svg');
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene5-35 {
  background-image: url('stories/story5/images/5-35.svg');
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#two .scene5-4 {
  background-image: url('stories/story5/images/5-4.svg');
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene5-5 {
  background-image: url('stories/story5/images/5-5.svg');
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

#two .scene5-6 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene5-7 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}

#two .scene5-8 {
  background-color: black;
  background-image: url('stories/story5/images/5-8.png');
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene5-9 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}

#two .scene5-10 {
  background-color: black;
  background-image: url('stories/story5/images/5-10.png');
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene5-11 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}

#two .scene5-12 {
  background-color: black;
  background-image: url('stories/story5/images/5-12.png');
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene5-13 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}

#two .scene5-14 {
  background-color: black;
  background-image: url('stories/story5/images/5-14.png');
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene5-15 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}

#two .scene5-16 {
  background-color: black;
  background-image: url('stories/story5/images/5-16.png');
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#two .scene5-17 {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}

#two #sign {
  width: 15%;
  right: 20%;
  bottom: 9%;
  max-width: 500px;
  min-width: 100px;
  overflow: hidden;
}

#two #move1 {
  animation: MoveUpDown2 2s linear infinite;
  width: 50%;
  left: 20%;
  bottom: 5%;
  max-width: 500px;
  min-width: 100px;
}

@keyframes MoveUpDown2 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5%);
  }
}

.falling5 {
  animation: MoveUpDown 2s linear infinite;
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: auto;
  position: relative;
  top: 35%;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20%);
  }
}

.video5 {
  width: 100%;
  max-height: 90vh;
  margin: auto;
  justify-content: center;
  display: flex;
  top: 2vh;
  position: relative;
}

.vid {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.toparrowbutton {
  display: flex;
  margin: auto;
  bottom: 5px;
  top: 8vh;
  position: relative;
  z-index: 100;
  opacity: 1;
}

.nextsectionbutton {
  position: relative;
  opacity: 1;
  margin: auto;
  top: -8vh;
  z-index: 100;
  width: 40px;
}

.repeatbutton {
  position: relative;
  opacity: 1;
  margin-left: auto;
  top: -16vh;
  z-index: 100;
  right: 10%;
  width: 40px;
}

.repeatbutton,
.nextsectionbutton {
  opacity: 1;
  -moz-window-dragging: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nextsectionbutton {
  animation: float-up-down 2s ease-in-out infinite both;
}

@-webkit-keyframes float-up-down {
  0% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-8%);
    transform: translateY(-8%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#bubble1,
#bubble2 {
  opacity: 0;
}

.sceneEnd {
  background-color: white;
  height: auto;
  overflow: hidden;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 100%;
}

/* ---- botNav---- */
.botNav {
  background-color: var(--HRA-blue5);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: 'Metropolis', Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 16px;
}

.next,
.previous,
.linkbutton {
  color: var(--HRA-red3);
  font-size: 14px;
  cursor: pointer;
  padding: 9px 16px 9px 16px;
}

.ExternalLinkCard .linkbutton {
  float: left !important;
}

.next:hover,
.previous:hover,
.linkbutton:hover {
  background-color: rgba(178, 10, 47, 0.08);
}

.next:active,
.previous:active,
.linkbutton:active {
  background-color: rgba(178, 10, 47, 0.16);
}

.next:focus,
.previous:focus .linkbutton:focus {
  border-color: var(--HRA-red2);
}

/* ---- external links section cards---- */
.Externallinkssection {
  text-align: center;
  background-color: var(--HRA-white);
  padding: 80px 16px;
  align-items: center;
  margin: auto;
}

.ExternalLinkCard {
  padding: 0px;
  gap: 40px;
  width: 292px;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ExternalLinkImg {
  width: 100%;
  height: 224px;
  border-radius: 12px;
  box-shadow: 0px 5px 16px 0px rgba(32, 30, 61, 0.24);
  object-fit: cover;
  margin-bottom: 40px;
}

.ExternalLinkTitle {
  font-family: 'Metropolis';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.ExternalLinkDesc {
  font-family: 'Metropolis';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
  color: var(--HRA-gray2);
}

.ExternalLinkCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  gap: 64px;
  justify-content: center;
}
