.story5section2 {
    background-color: black !important;
    background: black;
}

.story5section2 .intro {
    margin-top: 0;
}

#main-content.story-main--intrinsic-height > .section2 {
    height: auto;
}

#two .scene5-1,
#two .scene5-2,
#two .scene5-3,
#two .scene5-35,
#two .scene5-4,
#two .scene5-5,
#two .scene5-6,
#two .scene5-7,
#two .scene5-8,
#two .scene5-9,
#two .scene5-10,
#two .scene5-11,
#two .scene5-12,
#two .scene5-13,
#two .scene5-14,
#two .scene5-15,
#two .scene5-16,
#two .scene5-17 {
    height: 100vh;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}

#two .scene5-1,
#two .scene5-2,
#two .scene5-3,
#two .scene5-35,
#two .scene5-4,
#two .scene5-5 {
    margin: 0;
}

#two .scene5-2,
#two .scene5-3,
#two .scene5-35,
#two .scene5-4,
#two .scene5-5,
#two .scene5-6,
#two .scene5-7,
#two .scene5-8,
#two .scene5-9,
#two .scene5-10,
#two .scene5-11,
#two .scene5-12,
#two .scene5-13,
#two .scene5-14,
#two .scene5-15,
#two .scene5-16,
#two .scene5-17 {
    background-color: black;
}

#two .scene5-6,
#two .scene5-7,
#two .scene5-8,
#two .scene5-9,
#two .scene5-10,
#two .scene5-11,
#two .scene5-12,
#two .scene5-13,
#two .scene5-14,
#two .scene5-15,
#two .scene5-16,
#two .scene5-17 {
    margin: auto;
}

#two .scene5-1 {
    background-color: white;
    background-image: url('images/5-1.svg');
}

#two .scene5-2 {
    background-image: url('images/5-2.svg');
}

#two .scene5-3 {
    background-image: url('images/5-3.svg');
}

#two .scene5-35 {
    background-image: url('images/5-35.svg');
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#two .scene5-4 {
    background-image: url('images/5-4.svg');
}

#two .scene5-5 {
    background-image: url('images/5-5.svg');
}

#two .scene5-8 {
    background-image: url('images/5-8.png');
}

#two .scene5-10 {
    background-image: url('images/5-10.png');
}

#two .scene5-12 {
    background-image: url('images/5-12.png');
}

#two .scene5-14 {
    background-image: url('images/5-14.png');
}

#two .scene5-16 {
    background-image: url('images/5-16.png');
}

#two .scene5-6,
#two .scene5-8,
#two .scene5-10,
#two .scene5-12,
#two .scene5-14,
#two .scene5-16 {
    display: inline-block;
    vertical-align: middle;
}

#two .scene5-7,
#two .scene5-9,
#two .scene5-11,
#two .scene5-13,
#two .scene5-15,
#two .scene5-17 {
    display: flex;
    align-items: center;
}

#two #sign {
    width: 15%;
    right: 20%;
    bottom: 9%;
    max-width: 500px;
    min-width: 100px;
    overflow: hidden;
}

#two #move1 {
    animation: MoveUpDown2 2s linear infinite;
    width: 50%;
    left: 20%;
    bottom: 5%;
    max-width: 500px;
    min-width: 100px;
}

@keyframes MoveUpDown2 {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5%);
    }
}

.falling5 {
    animation: MoveUpDown 2s linear infinite;
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
    position: relative;
    top: 35%;
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20%);
    }
}

.video5 {
    width: 100%;
    max-height: 90vh;
    margin: auto;
    justify-content: center;
    display: flex;
    top: 2vh;
    position: relative;
}

.vid {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.toparrowbutton {
    display: flex;
    margin: auto;
    bottom: 5px;
    top: 8vh;
    position: relative;
    z-index: 100;
    opacity: 1;
}

.nextsectionbutton {
    position: relative;
    opacity: 1;
    margin: auto;
    top: -8vh;
    z-index: 100;
    width: 40px;
    animation: float-up-down 2s ease-in-out infinite both;
}

.repeatbutton {
    position: relative;
    opacity: 1;
    margin-left: auto;
    top: -16vh;
    z-index: 100;
    right: 10%;
    width: 40px;
}

.repeatbutton,
.nextsectionbutton {
    -moz-window-dragging: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@-webkit-keyframes float-up-down {
    0% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-8%);
        transform: translateY(-8%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#bubble1,
#bubble2 {
    opacity: 0;
}

.sceneEnd {
    background-color: white;
    height: auto;
    overflow: hidden;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
}
